/* .page-id-4379  */
.single-detail {
	padding-top: 30px !important;
	max-width: 500px !important;
	margin: 0 auto !important;
}

.gform_wrapper#gform_wrapper_5 ul.gform_fields li.gfield{ width: 100%; float: left; margin-bottom: 0; }
.gform_wrapper#gform_wrapper_5 .top_label .gfield_label{ width: 100% !important; padding-left: 3px; }
.gform_wrapper#gform_wrapper_5 ul li.gfield div.ginput_container{ width: 100% !important; margin-bottom: 0; }
.gform_wrapper#gform_wrapper_5 .top_label input.medium, .gform_wrapper#gform_wrapper_5 .top_label select.medium, .gform_wrapper#gform_wrapper_5 textarea.medium{ padding-left: 10px !important; }
.gform_wrapper#gform_wrapper_5 .single-checkbox ul.gfield_checkbox li input[type=checkbox]{ -webkit-appearance: checkbox; }
.gform_wrapper#gform_wrapper_5 .single-checkbox  ul.gfield_checkbox li input[type=checkbox]:before{ display: none; }
#gform_wrapper_5 .single-checkbox { position: relative; margin-top: 25px !important; }
#gform_wrapper_5 .single-checkbox > label { padding-left: 20px !important; padding-top: 2px; }
#gform_wrapper_5 .single-checkbox ul.gfield_checkbox { }
#gform_wrapper_5 .single-checkbox .ginput_container.ginput_container_checkbox { margin-top: -41px !important; }
#gform_wrapper_5 .single-checkbox ul.gfield_checkbox label{ display: none !important; }
#gform_wrapper_5  ul.gform_fields li.gfield select{ cursor: pointer; position: relative; background: #FFFFFF url(../images/down-arrow.png) no-repeat top right; background-position: 98% 9px; }

ul.nav ul.sub-menu {     position: absolute !important; z-index: 99999;   width: 150px !important; }

.feature-category .homepage-banner-2-list-categories ul li a { line-height: 14px; }

@media (min-width: 640px) and (max-width: 768px) {

	#wrapper #header hgroup .logo {float: left;width: 28% !important;margin-top: 20px !important;}
	#wrapper #header hgroup #hgroup_left { margin-top: 20px !important; }
	#hgroup_left .header-apply-now{ margin-right: 0 !important; }
	#wrapper #header hgroup .logo img {width: 100% !important;margin-left: 10px;max-width: 90%;}
	#wrapper #header hgroup .hotline { margin-top: 20px; margin-bottom: 10px; }
	.hotline span { padding-right: 0 !important; }
}

@media (min-width: 474px) and (max-width: 640px) {
	
	#hgroup_left .header-callback {  background-size: 70% !important; background-repeat: no-repeat; }
	#hgroup_left .header-apply-now {  background-size: 70% !important; background-repeat: no-repeat; }
}


@media (max-width: 640px) {
    
      #wrapper #header hgroup .logo { margin-top: 0 !important; width: 100% !important;text-align:left; }
      #wrapper #header hgroup .logo img { width: 45% !important; margin-top: 0; }
      #wrapper #header hgroup .hotline {margin: 0;position: absolute;right: 0;width: 47%;}
      #wrapper #header hgroup .hotline .icon-face { display: none; }
      #wrapper #header hgroup .hotline span:nth-child(5) {  position: absolute; left: -175px; bottom: -25px; }
      #wrapper #header hgroup #hgroup_left { margin-top: 40px !important; }
      #wrapper #header hgroup #hgroup_left > div:nth-child(1) { float: left; width: 45%; }
      #wrapper #header hgroup #hgroup_left > div:nth-child(2) { float: right; width: 45%; }
      #hgroup_left .header-apply-now, 
      #hgroup_left .header-callback { width: 100%; background-size: 90%; background-repeat: no-repeat; background-position: bottom; }
      #hgroup_left .header-apply-now img, 
      #hgroup_left .header-callback img { display: none; }
      .hotline span.AVANSERnumber a { float: left; line-height: 1em; }
      #wrapper #header hgroup .logo #logo { float: left; }
	.header-tagline { display: none; }
    
}