@media only screen and (max-width: 900px) {

/* All Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {

}
hr.line {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

/* Header Styles */

header {
    animation: headerNion infinite 5s;
}
@keyframes headerNion {
    0% {
        box-shadow: ;
    }
    40% {
        box-shadow: ;
    }
    80% {
        box-shadow: ;
    }
}
div#header {
    display: fixed;
    top: 0;
    margin-left: 10%;
    height: 2.5em;
    width: 80%;
    background-image: url(../images/bg1.jpg);
    box-shadow: 0 0 10px rgb(52, 104, 140);
    border-radius: 7px;
}
div#headerElementOne {
    position: absolute;
    height: 2.2em;
    width: 30%;
    margin-left: 1%;
    background-image: url(../images/bg3.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
    border-bottom-left-radius: 7px;
}
div#headerElementTwo {
    position: absolute;
    height: 2.2em;
    width: 30%;
    left: 59%;
    background-image: url(../images/bg3.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
    border-bottom-right-radius: 7px;
}
div#headerElementOne:active {
    box-shadow: 0 0 10px rgba(100, 255, 255, 1);
    color: rgb(88, 88, 88);
}
div#headerElementTwo:active {
    box-shadow: 0 0 10px rgba(100, 255, 255, 1);
    color: rgb(88, 88, 88);
}
img.logo {
    height: 2.5em;
}
img.icons {
    margin-top: 0.5em;
    margin-left: 0.5em;
}
p.headerText {
    display: inline;
    font-size: 0.9em;
}
p.headerTextTwo {
    display: inline;
    font-size: 0.8em;
}

/* Search and Categories Styles */

div#search {
    margin-top: 4em;
}
input.searchInput {
    color: rgb(255, 255, 255);
    height: 25px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    outline: none;
    background-image: url(../images/bg3.jpg);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition-duration: 600ms;
    border-radius: 10px;
    font-size: 1.1em;
}
input.searchInput:focus {
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 0 10px rgba(255, 255 , 255, 0.1);
    border-radius: 0;
}
nav {
    display: flex;
    margin-top: 2em;
    margin-left: 60px;
    flex-wrap: wrap;
}
div.categoriesItem {
    width: 70px;
    padding: 1em;
    
}

/* Content Styles */

div.contentItem {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3px;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.2);
}
p.contentTime {
    margin-bottom: 5px;
    text-align: center;
    color: rgb(52, 104, 140);
    font-size: 0.8em;
}
img.contentImages {
    width: 100%;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.5);
}
h2.contentH2 {
    display: inline;
    color: rgb(255, 255, 255);
}
p.contentP {
    font-size: 0.7em;
    float: right;
    color: rgb(255, 255, 255);
}
hr.contentLine {
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
p.contentDescription {
    color: rgb(255, 255, 255);
}

/* Append log */

div#append {
    position: fixed;
    top: 3.5em;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 99;
    background-color: rgb(21,31,45);
    padding: 2em;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition-duration: 1s;
}

/* SignUP Styles */

div#signup {
    position: fixed;
    top: 3.5em;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 99;
    background-color: rgb(21,31,45);
    padding: 2em;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition-duration: 1s;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
form.formReg {
    margin-top: 1em;
    text-align: center;
}
input.inputReg {
    margin: 0.5em;
    text-align: center;
    font-size: 1.2em;
    outline: none;
    border-radius: 20px;
    background-color: rgb(14,22,35);
    border: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition-duration: 500ms;
}
input.inputReg:focus {
    box-shadow: 0 0 15px rgb(0, 0, 0);
    background-color: rgb(52, 104, 140);
}
button.buttonReg {
    margin-top: 1.5em;
    border: none;
    background-color: rgb(52, 104, 140);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    outline: none;
    transition-duration: 500ms;
}
button.buttonReg:active {
    box-shadow: none;
}

}