/* All Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 27, 33);
}

/* Header Styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    background-color: rgb(52, 104, 140);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
div#header {

}
div.headerElement {

}
img.logo {

}
img.icons {
    height: 1em;
}
p.headerText {

}

/* Search and Categories Styles */

div#search {

}
input.searchInput {

}
nav {

}
div.categoriesItem {

}
img.categoriesIcons {
    height: 1em;
}

/* Content Styles*/

div#content {

}

/* Footer Styles */

footer {

}

/* Forms styles */